.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  max-width: 100%;
  justify-content: center;
  grid-gap: 20px;
  padding: 20px;
}
.card {
  display: grid;
  align-items: center;
  text-align: center;
  min-width: 275px;
  min-height: 450px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(56, 56, 56);
  padding: 10px;
}
.card h1,
h3 {
  font-family: "montserrat";
  text-transform: uppercase;
}
.circle {
  margin: 0 auto;
  padding: 0;
  width: 260px;
  height: 260px;
  border-radius: 100%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  transition: ease-in-out 1.5s;
}
.circle:hover {
  border-radius: 0;
  transition: ease-in-out 1.5s;
  cursor: pointer;
}


